In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
house_train = pd.read_csv('kc_house_train_data.csv',dtype={'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})
house_test = pd.read_csv('kc_house_test_data.csv',dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [3]:
house_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [4]:
house_train['bedrooms_squared'] = house_train['bedrooms']*house_train['bedrooms']
house_train['bed_bath_rooms'] = house_train['bedrooms']*house_train['bathrooms']
house_train['log_sqft_living'] = np.log(house_train['sqft_living'])
house_train['lat_plus_long'] = house_train['lat']+ house_train['long']

In [5]:
house_test['bedrooms_squared'] = house_test['bedrooms']*house_test['bedrooms']
house_test['bed_bath_rooms'] = house_test['bedrooms']*house_test['bathrooms']
house_test['log_sqft_living'] = np.log(house_test['sqft_living'])
house_test['lat_plus_long'] = house_test['lat']+ house_test['long']

In [6]:
house_train['intercept'] = 1
house_test['intercept'] = 1

In [7]:
print(np.mean(house_test['bedrooms_squared']))
print(np.mean(house_test['bed_bath_rooms']))
print(np.mean(house_test['log_sqft_living']))
print(np.mean(house_test['lat_plus_long']))

12.4466777015843
7.5039016315913925
7.550274679645921
-74.65333355403185

In [8]:
house_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long,intercept
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,98028,47.7558,-122.229,1780.0,12697.0,9.0,3.0,7.265430,-74.4732,1
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,98126,47.5714,-122.375,2140.0,4000.0,16.0,12.0,7.989560,-74.8036,1
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,98002,47.3048,-122.218,1030.0,4705.0,9.0,6.0,7.444249,-74.9132,1
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,98027,47.5391,-122.070,2580.0,3980.0,9.0,7.5,7.749322,-74.5309,1
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,98117,47.6889,-122.375,1570.0,5080.0,9.0,3.0,6.993933,-74.6861,1

In [9]:
model1_features = ['sqft_living','bedrooms','bathrooms','lat','long']
model2_features = ['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms']
model3_features = ['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms','bedrooms_squared','log_sqft_living','lat_plus_long']

In [10]:
model1_with_cons_feat = ['intercept','sqft_living','bedrooms','bathrooms','lat','long']
model2_with_cons_feat = ['intercept','sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms']
model3_with_cons_feat = ['intercept','sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms','bedrooms_squared','log_sqft_living','lat_plus_long']

In [17]:
def multiple_regression_closed_form(input_features,output):
    
    co_eff = (np.dot((np.dot((np.linalg.inv(np.dot((input_features.as_matrix()).T ,input_features.as_matrix()))),(input_features.as_matrix()).T)),output.as_matrix().reshape((-1,1))))#.reshape(-1,1)
    
    return co_eff

In [22]:
house_train['price'].as_matrix().reshape((-1,1)).shape

(17384, 1)

In [12]:
model1_closedform_coeff = multiple_regression_closed_form(house_train[model1_with_cons_feat],house_train['price'])
model2_closedform_coeff = multiple_regression_closed_form(house_train[model2_with_cons_feat],house_train['price'])
model3_closedform_coeff = multiple_regression_closed_form(house_train[model3_with_cons_feat],house_train['price'])

In [13]:
model1_coefficients_df = pd.DataFrame(data=model1_closedform_coeff,columns=['model1_closedform'],index=model1_with_cons_feat)
model2_coefficients_df = pd.DataFrame(data=model2_closedform_coeff,columns=['model2_closedform'],index=model2_with_cons_feat)#,model2_closedform_coeff,model3_closedform_coeff)
model3_coefficients_df = pd.DataFrame(data=model3_closedform_coeff,columns=['model3_closedform'],index=model3_with_cons_feat)#,model2_closedform_coeff,model3_closedform_coeff)

In [23]:
model1_closedform_coeff.shape

(6, 1)

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
lr1 = LinearRegression()
lr2 = LinearRegression()
lr3 = LinearRegression()

In [26]:
lr1.fit(house_train[model1_features],house_train['price'])
lr2.fit(house_train[model2_features],house_train['price'])
lr3.fit(house_train[model3_features],house_train['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
list1 = [lr1.intercept_]+lr1.coef_.tolist()
list2 = [lr2.intercept_]+lr2.coef_.tolist()
list3 = [lr3.intercept_]+lr3.coef_.tolist()

In [28]:
model1_coefficients_df['model1_sklearn_coeff'] = list1
model2_coefficients_df['model2_sklearn_coeff'] = list2
model3_coefficients_df['model3_sklearn_coeff'] = list3

In [29]:
model1_coefficients_df

             model1_closedform  model1_sklearn_coeff
intercept        -6.907573e+07         -6.907573e+07
sqft_living       3.122586e+02          3.122586e+02
bedrooms         -5.958653e+04         -5.958653e+04
bathrooms         1.570674e+04          1.570674e+04
lat               6.586193e+05          6.586193e+05
long             -3.093744e+05         -3.093744e+05

In [30]:
model2_coefficients_df

                model2_closedform  model2_sklearn_coeff
intercept           -6.686797e+07         -6.686797e+07
sqft_living          3.066101e+02          3.066101e+02
bedrooms            -1.134464e+05         -1.134464e+05
bathrooms           -7.146131e+04         -7.146131e+04
lat                  6.548446e+05          6.548446e+05
long                -2.942990e+05         -2.942990e+05
bed_bath_rooms       2.557965e+04          2.557965e+04

In [31]:
model3_coefficients_df

                  model3_closedform  model3_sklearn_coeff
intercept             -6.223157e+07         -6.203608e+07
sqft_living            5.294984e+02          5.294228e+02
bedrooms               3.450922e+04          3.451423e+04
bathrooms              6.708992e+04          6.706078e+04
lat                    7.640814e+05          5.340856e+05
long                  -1.781556e+05         -4.067507e+05
bed_bath_rooms        -8.570504e+03         -8.570504e+03
bedrooms_squared      -6.788587e+03         -6.788587e+03
log_sqft_living       -5.618315e+05         -5.618315e+05
lat_plus_long         -1.023697e+05          1.273349e+05

In [32]:
def predict_outcome(input_features,weights):
    
    prediction = np.dot(input_features,weights)
    
    return prediction

In [33]:
def residual_sum_of_squares(input_feature,output,closedform_coeff,model=None):
    rss = 0
    rss_sklearn = 0
    if model is None:
        predictions_scratch = predict_outcome(input_feature,closedform_coeff)
        
        rss = np.sum((output.reshape((-1,1)) - predictions_scratch)**2)
        return rss
        
    if model is not None:
        prediction_sklearn = model.predict(input_feature)
        rss_sklearn = np.sum((output-prediction_sklearn)**2)
        return rss_sklearn

In [34]:
rss1_train_closedform = residual_sum_of_squares(house_train[model1_with_cons_feat],house_train['price'],model1_closedform_coeff)
rss2_train_closedform = residual_sum_of_squares(house_train[model2_with_cons_feat],house_train['price'],model2_closedform_coeff)
rss3_train_closedform = residual_sum_of_squares(house_train[model3_with_cons_feat],house_train['price'],model3_closedform_coeff)
rss1_test_closedform = residual_sum_of_squares(house_test[model1_with_cons_feat],house_test['price'],model1_closedform_coeff)
rss2_test_closedform = residual_sum_of_squares(house_test[model2_with_cons_feat],house_test['price'],model2_closedform_coeff)
rss3_test_closedform = residual_sum_of_squares(house_test[model3_with_cons_feat],house_test['price'],model3_closedform_coeff)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  import sys

In [35]:
rss1_train_sklearn = residual_sum_of_squares(house_train[model1_features],house_train['price'],0,model=lr1)
rss2_train_sklearn = residual_sum_of_squares(house_train[model2_features],house_train['price'],0,model=lr2)
rss3_train_sklearn = residual_sum_of_squares(house_train[model3_features],house_train['price'],0,model=lr3)
rss1_test_sklearn = residual_sum_of_squares(house_test[model1_features],house_test['price'],0,model=lr1)
rss2_test_sklearn = residual_sum_of_squares(house_test[model2_features],house_test['price'],0,model=lr2)
rss3_test_sklearn = residual_sum_of_squares(house_test[model3_features],house_test['price'],0,model=lr3)

In [36]:
print(rss1_train_closedform)
print(rss2_train_closedform)
print(rss3_train_closedform)
print(rss1_test_closedform)
print(rss2_test_closedform)
print(rss3_test_closedform)

9.6787996305e+14
9.58419635074e+14
9.39961119656e+14
2.25500469797e+14
2.23377462979e+14
2.69036564672e+14

In [37]:
print(rss1_train_sklearn)
print(rss2_train_sklearn)
print(rss3_train_sklearn)
print(rss1_test_sklearn)
print(rss2_test_sklearn)
print(rss3_test_sklearn)

967879963049549.2
958419635074068.6
903436455050483.2
225500469795490.03
223377462976466.16
259236319207178.78

In [38]:
def get_numpy_data(input_features,output):
    
    input_matrix = input_features.as_matrix()
    output_matrix = output.as_matrix()
    
    return input_matrix,output_matrix

In [39]:
def feature_derivative(error,feature):
   
    derivative = 2* np.dot(error,feature)
    
    return derivative

In [40]:
def gradient_descent(input_array,output_array,weights,step_size,tolerance):
    
    converged = False
    no_features = len(weights)
    
    while not converged:
        
        gradient_sum_squares = 0
        for j in range(no_features):
            
            prediction = predict_outcome(input_array,weights)
            error = prediction - output_array
            derivative  = feature_derivative(error,input_array[:,j]) 
            #print(derivative)
            gradient_sum_squares += (derivative**2)
            weights[j] = weights[j] - step_size *derivative
                                
                
        gradient_magnitude = np.sqrt(gradient_sum_squares)
        if gradient_magnitude < tolerance:
            
            converged = True
            
    return weights

In [41]:
simple_features1 = ['intercept','sqft_living']
my_output1= 'price'
(simple_feature_matrix1, output1) = get_numpy_data(house_train[simple_features1], house_train[my_output1])
initial_weights1 = np.array([-47000., 1.])
step_size = 7e-12
tolerance = 2.5e7
simple_feature_matrix1.shape

(17384, 2)

In [42]:
weights1 = gradient_descent(simple_feature_matrix1,output1,initial_weights1,step_size,tolerance)

In [43]:
weights1

array([-46999.88716552,    281.91211918])

In [44]:
test_simple_features1 = ['intercept','sqft_living']
(simple_feature_matrix_test1, output_test1) = get_numpy_data(house_test[test_simple_features1], house_test[my_output1])

In [45]:
predict_model1 = predict_outcome(simple_feature_matrix_test1,weights1)

In [46]:
rss_model1 = np.sum((predict_model1 - output_test1)**2)

In [47]:
rss_model1

275400044902085.38

In [48]:
model_features2 = ['intercept','sqft_living','sqft_living15']
output_feat2 = 'price'
initial_weights2 = [-100000, 1, 1] #(intercept, sqft_living, and sqft_living_15 respectively)
step_size = 4e-12
tolerance = 1e9
feat_model2,output2 = get_numpy_data(house_train[model_features2],house_train[output_feat2])
feat_model_test2,output_test2 = get_numpy_data(house_test[model_features2],house_test[output_feat2])

In [49]:
weights_model2 = gradient_descent(feat_model2,output2,initial_weights2,step_size,tolerance)

In [50]:
weights_model2

[-99999.900514789129, 245.25390174329479, 65.083217250695597]

In [51]:
prediction2 = predict_outcome(feat_model_test2,weights_model2)

In [52]:
house_test['price'][0]

310000.0

In [53]:
rss_model2 = np.sum((prediction2 - output_test2)**2)

In [54]:
rss_model2

270272176446306.03