In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
house_train = pd.read_csv('kc_house_train_data.csv',dtype={'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})
house_test = pd.read_csv('kc_house_test_data.csv',dtype = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [3]:
house_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [4]:
def simple_linear_regression(input_feature,output):
    m = len(input_feature)
    slope =  (np.sum(output*input_feature) - ((np.sum(output) * np.sum(input_feature))/m))/(np.sum(input_feature**2)-(((np.sum(input_feature))*(np.sum(input_feature)))/m))
    
    intercept = np.mean(output) - (slope* np.mean(input_feature))
    
    
    return intercept,slope

In [5]:
input_feature = house_train['sqft_living']
output = house_train['price']

In [6]:
squarefeet_intercept , squarfeet_slope = simple_linear_regression(input_feature,output)

In [7]:
squarefeet_intercept

-47116.07907289418

In [8]:
squarfeet_slope

281.9588396303426

In [9]:
def get_regression_predictions(input_feature,intercept,slope):
    
    predictions = intercept + slope * input_feature   
    
    
    return predictions

In [10]:
get_regression_predictions(2650,squarefeet_intercept,squarfeet_slope)

700074.8459475137

In [11]:
def residual_sum_of_squares(input_feature,output,intercept,slope):
    
    predictions = get_regression_predictions(input_feature,intercept,slope)
    
    rss = np.sum((output - predictions)**2)
    
    return rss

In [12]:
residual_sum_of_squares(input_feature,output,squarefeet_intercept,squarfeet_slope)

1201918354177286.2

In [13]:
def inverse_regression_prediction(output,intercept,slope):
    
    input_feature_value = (output - intercept)/slope
    
    return input_feature_value

In [14]:
inverse_regression_prediction(800000,squarefeet_intercept,squarfeet_slope)

3004.3962451522766

In [15]:
bedroom_intercept,bedroom_slope = simple_linear_regression(house_train['bedrooms'],output)

In [16]:
bedroom_intercept

109473.1776229596

In [17]:
bedroom_slope

127588.95293398784

In [18]:
rss_sqft_living = residual_sum_of_squares(house_test['sqft_living'],house_test['price'],squarefeet_intercept,squarfeet_slope)

In [19]:
rss_bedrooms = residual_sum_of_squares(house_test['bedrooms'],house_test['price'],bedroom_intercept,bedroom_slope)

In [20]:
rss_bedrooms

493364585960301.4

In [21]:
rss_sqft_living

275402933617813.1